.container__rates {
    width: 100%;
}
.container__rates--currency {
    justify-content: center;
}
.container__rates--table-block {
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.container__rates--table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
  
.container__rates--table td, .container__rates--table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.container__rates--table tr:nth-child(even){
    background-color: #E4DEF0;
}
  
.container__rates--table tr:hover {
    background-color: #ddd;
}
  
.container__rates--table th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #551b8d;;
    color: white;
}