.container__converter {
    margin: 50px auto;
}
.container__converter--amount {
    width: 300px;
}
.container__converter--currency-block {
    justify-content: space-between;
}
.container__converter--button {
    justify-content: center;
}
.container__converter--button-btn {
    width: 100%;
    color:  #551b8d;
    font-weight: 600;
}