.header {
    display: flex;
    width: 90vw;
    justify-content: center;
}
.header__nav {
    display: flex;
    padding: 20px 0;
}
.header__nav--list {
    display: flex;
}
.header__nav--list li {
    margin: 0 20px;
}
.nav-link {
    color:  #551b8d;
    font-weight: 600;
}
.active {
    border-bottom: 1px solid #551b8d;
}