*{
  outline: none;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: #E4DEF0;
  flex-direction: column;
}
.flexbox {
  display: flex;
}
.mt {
  margin-top: 20px;
}
.border-color {
  padding: 10px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #E4DEF0;
}
.container {
  width: 90vw;
  align-items: center;
  justify-content: center;
  background-color: #F4F5F9;
  border-radius: 20px;
}
